.pageHeader {
  position: absolute;
  width: 100%;
  height: 6.5%;
  background: linear-gradient(90deg, rgba(10,177,164,1) 0%, rgba(83,214,203,1) 35%, rgba(183,243,255,1) 100%);

  .youdeserveit{
    font-size: 20px;
  }

  .signInSignUpLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    .link {
      padding: 15px 15px;
      cursor: pointer;
      color: rgb(18, 29, 25);
    }
  }

  button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
  }
  .signInLink{
    padding: 1%;
  }
}
