.pageHeader {
  height:60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: rgb(193, 205, 236);

  .youdeserveit{
    font-size: 20px;
  }

  .signInSignUpLinks {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
