.table-main-div{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    table {
        width: 100%;
        
        thead {
            th {
                text-transform: uppercase;
                text-align: center;
                padding: 10px;
                color: rgb(26, 26, 70);
                border: 1px solid #F1F1F1;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solidrgb(26, 26, 70);
                color: rgb(26, 26, 70);
                td {
                    padding: 10px;
                    border: 1px solid rgb(26, 26, 70);
                }
                th {
                    padding-left: 10px;
                    border: 1px solid rgb(26, 26, 70);
                }
            }
        }

    }
    .closeIcon{
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }
}