 .mainContent{
.mainDivCurrentUser{
    

          .closeLink{
            cursor: pointer;
            font-size: 15px;
            text-align: right;
            Padding : 10px;
          }

}

 }

 .sideMenu{
    position: absolute;
    width: 250px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #f7eaff;
}

.pageHeaderText{
  padding-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .mainTextOnMainPage{
    text-align: center;
    font-size: 30px;
  }
}