.mainDivCurrentUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    justify-content: space-between;

    .categoryDiv{
        background-color: rgb(193, 205, 236);
        border: 1px solid rgb(193, 205, 236);
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .titleDiv{
            align-items: center;
        }

        .categoryButtons{
            margin-left: auto;
        }

        .eachButton {
            
            background-color: rgb(26, 26, 70);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin-left: auto;
            
            &:hover {
                transform: scale(1.05);
            }
          
          }

          .closeLink{
            background: none!important;
            border: none;
            padding: 0!important;
            /*optional*/
            font-family: arial, sans-serif;
            /*input has OS specific font-family*/
            color: #069;
            text-decoration: underline;
            cursor: pointer;
          }
    }
    
}