.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app{
  font-family: 'Sniglet', cursive;
  color: rgb(26, 26, 70);
  background-size: cover;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
  background: {
      image: url($imgpath);
      position: $position;
      repeat: $repeat;
  }
}
.app {
  background: linear-gradient(
    to left,
    rgb(193, 205, 236) 0%,
    rgb(245, 245, 247) 100%
  );
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 2, 39);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
